#right-tables{
    width: 100%;
    height: 830px;
    padding: 20px;
    position: relative;
}

#tables-room{
    width: 50%;
    height: 600px;
    background-color: #e6e6e6;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 6px;
    overflow: auto;
    border-radius: 0.5;
    display: block;
    padding-left: 15px;
    float: left;
}
#tables-room .home-table{
    width: 130px;
    height: 130px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    float: left;
    text-align: center;
}

.home-table:hover{
    transform: scale(1.1,1.1);
    transition: 0.3s;
}

/* <img src="./img/table-add.png" alt="table" className="home-room-img" style={{ width: "90px", height: 'auto', borderRadius:" 0.5", float: 'left', paddingTop: "15px", marginLeft: '15px'}} /> */
/* <i className="fa fa-info-circle" style={{ color: " #d9d9d9", marginRight:'5px'}} aria-hidden="true"></i> */
#home-table-add{
    margin-top: 14px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 9px;
    color:green;
    line-height: 77%;
}

#home-table-add:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
}

.txtAdd{
    float: left;
    font-size: 100px;
    line-height: 100%;
    width: 100%;
    height:100%;
}

.opacity{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    opacity: 0.3;
    border-radius: 50%;
}

#table-detail{
    width: 47%;
    height: 600px;
    margin-left: 52%;
    display: block;
    border-bottom: 1px solid #d9d9d9;
}

#table-detail div{
    margin-top: 7px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    color: #4383B4;
    margin-bottom: 20px;
}

.date{
    position: relative;
    width: 100%;
    height: 30px;
}

.lblDate{
    position: absolute;
    left: 30px;
}

.txtDate{
    position: absolute;
    right: 3px;
}

.idTable{
    width: 100%;
    height: 30px;
    position: relative;
}

.lblIDTable{
    position: absolute;
    left: 30px;
}

.txtIDTable{
    position: absolute;
    right: 3px;
}

.table-detail-menu{
    width: 100%;
    overflow: auto;
}

#table-detail .table-detail-menu{
    height: 496px;
}

.table-detail-menu table, .table-detail-menu tbody{
    width: 100%;
}

.table-detail-menu tr{
    width: 100%;
}

#table-detail .table-detail-menu tr{
    height: 40px;
}

.table-detail-menu th{
    border-bottom: 1px solid #d9d9d9;
}

 #table-detail .table-detail-menu th:nth-child(1){
    width: 80%;
    text-align: left;
}

.table-detail-menu th:nth-child(2){
    width: 20%;
    /* text-align: right; */
}

.home-table img{
    float: left;
}

.home-table{
    position: relative;
}

.tables-selection{
    width: 100%;
    height: 100%;
    font-size: 15px;
    position: absolute;
    left: 30px;
    display: none;
}

li{
    list-style-type: none;
}

.select{
    width: 107%;
    height: 30px;
    border-radius: 5%;
    margin-top:2px;
    padding-left: 2px;
    color: #007bff;
    background-color: #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 3px 4px;
}

.select:hover{
    background-color: #f2f2f2;
}