#Login{
    width: 100%;
    height: 800px;
    position: relative;
}

.Login-BackGround{
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
}

.background-up{
    width: 100%;
    height: 50%;
    background-color: #4298f4;
}

.background-down{
    width: 100%;
    height: 50%;
    position: relative;
}

.img1{
    width: 280px;
    height: auto;
    left: 200px;
    position: absolute;
}

.img2{
    width: 280px;
    height: auto;
    position: absolute;
    right: 200px;
}

.Login-Form{
    width: 400px;
    height: 600px;
    background-color: white;
    box-shadow: black 0px 0px 25px;
    z-index: 3;
    border-radius: 7%;
    margin-top: 83px;
    left: 570px;
    position: absolute;
}

.title{
    margin-top: 10px;
    font-size: 26px;
    color: #240468;
}

.txtLogin{
    width: 85%;
    height: 50px;
    left:25px;
    box-shadow: black 0px 1px 2px;
    border: none;
    padding-left: 13px;
    z-index: 4;
    position: absolute;
    font-size: 18px;
}

.txtLogin:focus{
    box-shadow: #2e028c 0px 1px 6px;
    background-color:  #ffffff;
}

.txtLogin:hover{
    background-color:  #ffffff;
}

.txtUser{
    margin-top: 3px;
}

.txtPassword{
    margin-top: 70px;
}


.forgot-password{
    margin-top: 145px;
    left: 30px;
    position: absolute;
    font-size: 16px;
}

.btn-loginIn{
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 184px;
    border-radius: 2%;
    border: 1px solid #8080ff;
    box-shadow: black 0px 1px 2px;
    transition: width 1s;
}

.btn-loginIn:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
    color: white;
    box-shadow: #2e028c 0px 1px 1px;
    background-image: linear-gradient(to right, #0000cc ,#6600cc );
}

.btn-loginUp{
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 53px;
    border-radius: 2%;
    border: 1px solid #8080ff;
    box-shadow: black 0px 1px 2px;
    transition: width 1s;
}

.btn-loginUp:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
    color: white;
    box-shadow: #2e028c 0px 1px 1px;
    background-image: linear-gradient(to right, #0000cc ,#6600cc );
}

.form-login-up{
    width: 84%;
    height: 135px;
    padding-top: 10px;
    margin-left: 29px;
    display: block;
}

.form-login-up .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-login-up .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .form-login-up .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .form-login-up .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .form-login-up .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
